<header>
  <div class="tasks">
    <ul>
      <li><a href="/login/home">Home</a></li>
     <li><a href="/tasks/<%=data._id%>">Tasks</a></li> 
    <li><a href="/home/dashboard/<%=data._id%>">Dashboard</a></li> 
    <li><a href="/courses/<%=data._id%>">Courses</a></li>  
    </ul>  
  </div>
  <div class="logout"><a href="/">Logout</a></div>
</header>