<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/course1.css">
  <title>Javascript</title>
</head>
<body>
  <div class="container">
    <div class="side-container">
      <div class="sidepanel">
        <div class="video1 item">Variables</div>
        <hr>
        <div class="video2 item">Arrays</div>
        <hr>
        <div class="video3 item">DOM</div>
        <hr>
      </div>
      <div class="rest">
        <iframe width="560" height="315" id="video-1" src="https://www.youtube.com/embed/Hrd3SfCCXZw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="560" height="315"id="video-2" src="https://www.youtube.com/embed/SrT8-9I4WnE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="560" height="315"id="video-3" src="https://www.youtube.com/embed/_GxpmQ54aqg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  
  </div>
  
  <script src="/js/course1.js"></script>
</body>
</html>