<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/course.css">
  <title>Courses</title>
</head>
<body>
  <%- include ('partials/header') %>
  
    
    <div class="main">
      <div class="cont">
      <div class="container">

        <div class="wrap-div"><h2>Pick a course</h2></div>
        <div class="courses">
            <div class="wrap-course">
              <div class="course1 item">
                <div class="imagewrap">
                  <div class="image">
                    <a href="/courses/course1"><img src="/images/Course1-logo.jpg" alt="">
                    </a>
                  </div>
                  
                </div>
                
                <div class="title">Data structures</div>
            </div>
           
          </div>
          
          <div class="wrap-course">
            <div class="course2 item">
              <div class="imagewrap">
                <a href="/courses/course2"><img src="/images/Course2-logo.png" alt="">
                </a>
              </div>
              
                <div class="title">Node.js</div>
              <div class="extra"></div>
            </div>
          </div>
          
          
          <div class="wrap-course">
            <div class="course3 item">
              <div class="imagewrap">
                <a href="/courses/course3"><img src="/images/Course3-logo.png" alt="">
                </a>
              </div>
              <div class="title">Javascript</div>
            </div>
          </div>
          
        
        </div>
      </div>
    </div>
    </div>
   
 
</body>
</html>