<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/home.css">
  <title>HomePage</title>
</head>
<body>
  <div class="header">
    <div class="val"><h1>Welcome </h1>
    <a href="/login" class="logout" >Logout</a>
    </div>
  </div>
  <div class="info">
    <div class="view">
      <img src="/home_image.png" alt="" class="home-img">
    </div>
  <div class="controllers">
    <ul class="list">
      <li><a href="/tasks/<%=uid%>/" class="item">Tasks</a></li>
      <li><a href="/home/dashboard/<%=uid%>/" class="item">Dashboard</a></li>
      <li><a href="/courses/<%=uid%>/" class="item">Courses</a></li>
    </ul>
  </div>
  <h1>About us</h1>
  <p>LMS is website for learning various courses  for free. Here you can Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint nisi sit porro voluptate voluptas non provident eum aliquid sunt doloribus quaerat, qui dicta et iure odit laudantium. Doloribus, modi voluptatibus?</p>
  </div>
  
  
</body>
</html>