<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/home.css">
  <title>HomePage</title>
</head>
<body>
  <div class="header">
    <div class="val"><h1>Welcome </h1>
    <a href="/login" class="logout" >Logout</a>
    </div>
  </div>
  <div class="info">
    <div class="imagebox">
      <div class="view">
        <div class="textbox">
          <div class="text1">
            <h1>LMS</h1>
          </div>
          <div class="text2">
            <h2>A website designed for upbringing the best out of you</h2>
          </div>
          <div class="text3">
            <h3>Start learning now</h3>
          </div>
        </div>
      </div>
    </div>
    
  <div class="controllers">
    <ul class="list">
      <li><a href="/tasks/<%=uid%>/" class="item">Tasks</a></li>
      <li><a href="/home/dashboard/<%=uid%>/" class="item">Dashboard</a></li>
      <li><a href="/courses/<%=uid%>/" class="item">Courses</a></li>
    </ul>
  </div>
  <div class="abouttext">
    <h1>About us</h1>
  <p>LMS is website for learning various courses  for free. Here you can Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint nisi sit porro voluptate voluptas non provident eum aliquid sunt doloribus quaerat, qui dicta et iure odit laudantium. Doloribus, modi voluptatibus?</p>
  </div>
  
  </div>
  
  
</body>
</html>