<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/home.css">
  <title>HomePage</title>
</head>
<body>
  <div class="header">
    <div class="val"><h1>Welcome Sai kumar</h1>
    <a href="/login" class="logout" >Logout</a>
    </div>
  </div>
  <div class="info">
    <div class="view">
      <img src="/home_image.png" alt="" class="home-img">
    </div>
  <div class="controllers">
    <ul class="list">
      <li><a href="/tasks/<%=uid%>/" class="item">Tasks</a></li>
      <li><a href="/dashboard/<%=uid%>" class="item">Dashboard</a></li>
      <li><a href="/courses/<%=uid%>" class="item">Courses</a></li>
    </ul>
  </div>
  <h1>About us</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque magnam necessitatibus consectetur totam itaque error, iure, aut adipisci obcaecati sed facere nulla enim ea. Tenetur iusto pariatur, qui corrupti, laboriosam modi temporibus impedit ipsa veritatis quidem nobis nostrum placeat libero est ad inventore reiciendis? Corrupti culpa quod facere omnis iusto, aliquam veniam quis excepturi explicabo praesentium ratione saepe tempora provident doloribus reprehenderit, recusandae ducimus officiis sint adipisci. Eveniet ex iure expedita voluptates ut animi, culpa enim et optio beatae quia quod minima doloremque id sit officiis excepturi accusamus facere corrupti tempore consequuntur. Iste doloremque enim, ut pariatur consectetur delectus? Quae, dolorem. Sint, suscipit. Quisquam dolorum rem amet perferendis vel perspiciatis. Maxime, alias. Culpa illum facilis aliquid quas quos omnis excepturi quaerat praesentium alias officia voluptas quam totam blanditiis, itaque rem cum tenetur vitae dolorem enim. Fuga accusantium saepe delectus voluptatibus voluptatum dolorum eligendi quibusdam velit eaque? Perferendis quas eos quae laudantium, velit facilis laborum blanditiis officia dolor veniam, distinctio repudiandae delectus doloremque ut. Voluptate quibusdam quae facere quos, aperiam culpa, assumenda fugit dolorem, voluptatum officiis sit. Accusantium nesciunt est adipisci vitae, et modi non animi ratione aut aliquid voluptatem tenetur placeat! Quod nisi autem, rerum ratione corrupti non, illum explicabo modi quaerat animi quidem sequi vitae nemo. Harum ipsa, eligendi sed doloremque molestiae iusto eius autem magni debitis cum tempora blanditiis dolorem obcaecati repellendus eum quis minus inventore praesentium. Amet quas veritatis animi, voluptatibus dicta exercitationem perferendis aperiam ut facilis beatae magnam non nobis expedita suscipit. Ex atque commodi voluptate ea sed, saepe id soluta quae facere esse quaerat voluptatum corrupti sapiente illo dolore illum, odio ratione maiores, nam quia. Dolores iure sit suscipit, distinctio minima quaerat iusto numquam corrupti provident tenetur aliquid quae, at similique rem dignissimos quam labore laudantium, repellendus molestias harum architecto. Voluptatum facere, accusamus repudiandae eligendi similique tempora. Vel, ipsa? Provident laudantium dignissimos alias molestias debitis consequuntur dolorum facilis modi, laboriosam harum tempora, soluta numquam reiciendis repellat tenetur consequatur eaque, ullam veritatis nulla quidem error? Dolor ipsum ipsam iste expedita repellendus dignissimos omnis enim maiores aliquid fugit similique debitis a error maxime numquam eum, odio repellat ullam sequi quis nobis itaque assumenda sapiente. Sit reiciendis architecto voluptate illum unde possimus vero dolor tenetur, consequuntur pariatur aspernatur magni mollitia reprehenderit aperiam ea nihil, dolorum delectus asperiores? Ipsum deserunt quos accusantium, voluptate, sit ipsa, quo cupiditate dolorem beatae debitis itaque enim atque ducimus quaerat esse consequatur quae assumenda in et. Distinctio modi qui, ducimus officiis, ullam corporis enim nulla optio omnis architecto ab. Ipsum totam sint ipsam cum quam. Nemo aliquam perferendis, delectus quaerat voluptatibus saepe perspiciatis commodi, laboriosam modi officiis repellat tenetur eligendi odio incidunt accusamus dolorum, tempora facilis! Pariatur a quibusdam dolorem, hic repellendus temporibus commodi at necessitatibus, aspernatur consequatur iusto nam placeat, quisquam deleniti saepe ipsa. Modi blanditiis reiciendis adipisci nesciunt iure maxime quam quo eveniet iste obcaecati, dolor debitis quas dolore id eligendi. Odit esse voluptate in magni aperiam unde recusandae quae libero nobis nisi facere, molestiae rerum odio hic architecto excepturi amet. Ad!</p>
  </div>
  
  
</body>
</html>