<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/login.css">
  <title>Login</title>
</head>
<body>
  <div class="cont">
    <div class="container">
      <div class="left">
        <div class="lc">
          <div class="head"><h1>LMS</h1></div>
          <div class="sub">A better way to enjoy the learning</div>
        </div>
      </div>
      <div class="right">
        <div class="rc">
          <form action="/login" method="POST"class="form-input">
            <input type="text" placeholder="UserName">
            <input type="password" placeholder="Password">
            <button type="submit" class="btn btn-primary">Log in</button>
          </form>
          
          <a href="#">Create New Account</a>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>