<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/read.css">
  <title>Read Task</title>
</head>
<body>
  <div class="container">
    
    <div class="title"><%=data[0].title%></div>
    <div class="deadline"><span>Due date :  </span>
      <%=data[0].deadline%></div>
    <div class="cmp"><%=data[0].completed%></div>
    <div class="desc">DEadcjd;sdiof<%=data[0].desc%></div>
  </div>
</body>
</html>