@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;600&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Open Sans' ,sans-serif;
  color:black;
}
.t1{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom,purple,pink,white)
}
.t2{
  display: block;
  margin-top: 3rem;
  width: 90%;
  padding: 1rem;
  box-shadow: 0 0 5px grey;
  
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

iframe{
  width: 600px;
  height: 300px;
  box-shadow: 0 0 5px grey;
  border-radius: 0.5rem;
}

.mark a{
  text-decoration: none;
  display: block;
  background-color: blue;
  color: white;
  padding: 0.5rem;
  font-weight: 900;
  border-radius: 0.5rem;
}
h4{
  color: white;
  font-size: 22px;
  font-weight: 900;
}

@media(max-width:650px){
  iframe{
    width: 300px;
    height: 200px;
  }
}