@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;600&display=swap');
*{
  margin:0rem;
  padding:0;
  box-sizing: border-box;
  font-family: 'Open Sans' ,sans-serif;
  color:black;
}
body{
  margin: 2rem;
}
h1{
  color:blue;
  font-size: 34px;
  font-weight: 1200;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}
.sub{
  font-size: 22px;
}
.left{
  display: block;
  width: 100%;
  text-align: center;
  /* box-shadow: 0 0 5px grey; */
}
.right{
  display: block;
  width: 100%;
  box-shadow: 0 0 5px grey;
}
.form-input{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.rc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.lc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
input{
  display: block;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 0.5px solid blueviolet;
  width: 100%;
  border-radius: 0.5rem;
}
button{
  padding: 0.5rem;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 800;
  background-color: blue;
  color: white;
  border-radius: 0.5rem;
  margin: 0.5rem;
}
a{
  margin: 0.5rem;
  text-decoration: none;
  background-color: rgb(47, 199, 47);
  color: white;
  font-size: 1rem;
  font-weight: 800;
  padding: 0.8rem;
   border-radius: 0.5rem;
   
}
.msgdiv{
  display: flex;
  justify-content: center;
  align-items: center;
}
.msg{
  color: red;
}

@media(max-width:600px){
  .container{
    flex-direction: column;
    gap: 6rem;
    padding: 1rem;
  }
  .rc{
    padding: 1rem;
  }
  input{
    width: 120%;
  }button{
    width: 120%;
  }

}