@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;600&display=swap');
body{
  
  box-sizing: border-box;
  font-family: 'Open Sans' ,sans-serif;
  color:black;
  background-color: #742f2f;
}
.container{
  display: flex;
  padding:1%;
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 20%;
  flex-direction: column;
  /* box-shadow: 0 0 5px red; */
  border-radius: 5%;
  gap:2rem;
  background-color: rgb(179, 153, 153);
}

.title{
  font-size: larger;
  color: #682323;
  font-family: Arial, Helvetica, sans-serif;
margin: auto;
}
.deadline{
  color: rgb(98, 81, 81);
  margin: auto;
  float: right;
}
.cmp{
margin: auto;
  color: rgb(77, 77, 117);
}
.desc{
  color: #5f2323;
  font-family: Arial, Helvetica, sans-serif ;
  margin: auto;
  margin-bottom: 5%;
}