@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;600&display=swap');
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
body{

  box-sizing: border-box;
  font-family: 'Open Sans' ,sans-serif;
  color:black;
  background-color: beige;
  background: white;
  /* background-image: linear-gradient(to bottom,white,purple); */


}
.container{
  display: flex;
  padding:1%;
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 20%;
  flex-direction: column;
  /* box-shadow: 0 0 5px red; */
  border-radius: 30px;
  gap:2rem;
  /* background-color: white; */
  background-image: linear-gradient(to right,pink,white);
 box-shadow: 0 10px 10px grey;
}

.title{
  font-size: larger;
  color: #682323;
  font-family: Arial, Helvetica, sans-serif;
margin: auto;
}
.deadline{
  color: rgb(98, 81, 81);
  margin: auto;
  float: right;
}
.cmp{
margin: auto;
  color: rgb(77, 77, 117);
}
.desc{
  color: #5f2323;
  font-family: Arial, Helvetica, sans-serif ;
  margin: auto;
  margin-bottom: 5%;
}
