@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;600&display=swap');
*{
  margin:0rem;
  padding:0;
  box-sizing: border-box;
  font-family: 'Open Sans' ,sans-serif;
  color:black;
}
.temp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px grey;
}
.cover{
  display: block;
  width: 50%;
}
.head{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
  border-bottom: 1px solid black;
  width: 100%;
}
.signup{
  font-size: 34px;
  font-weight: 1200;
  color: black;
}
.text{
  font-size: 14px;
  color: grey;
  
}