@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;600&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Open Sans' ,sans-serif;
  color:purple;
}

header{
  position:fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 4.5rem;
  /* background-color: white; */
  background-image: linear-gradient(to right,pink,white);
  color: blue;
  padding: 1rem;
  box-shadow: 0 3px 0 grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tasks ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap:0.5rem;
}
.tasks ul li a{
  text-decoration: none;
  display: inline-block;
  padding: 0.3rem;
  background-image: linear-gradient(to right, purple,pink);
  box-shadow: 0 5px 0 grey;
  border-radius: 0.7rem;
  color: white;
  font-size: 22px;
  font-weight: 1200;
}
.logout a
{
  text-decoration: none;
  display: inline-block;
  color: white;
  font-size: 22px;
  font-weight: 1200;
  padding: 0.3rem;
  background-image: linear-gradient(to right, purple,pink);
  box-shadow: 0 5px 0 grey;
  border-radius: 0.7rem;
}

.main{
  position: relative;
  top: 4.5rem;
  left: 0;
  padding: 0.5rem;
}

.new-task{
  text-decoration: none;
  /* background-color: blue; */
  background-image: linear-gradient(to right, purple,pink);
  box-shadow: 0 5px 0 grey;
  color:whitesmoke;
  font-size: large;
  font-weight: 900;
  padding:0.3rem;
  border-radius: 0.64rem;
}

.task-box{
  position: relative;
  top:2rem;
  display: flex;
  flex-direction: column;
  gap:2rem;
  justify-content: center;
  align-items: center;

  /* margin-top: 2rem; */
}
.task{
  display: flex;
  flex-direction: column;
  width: 90%;
  padding:0.84rem;
  gap:0.5rem;
  box-shadow: 0 10px 10px grey;
  border-radius: 30px;
  background-image: linear-gradient(to right,pink,white);

}
.title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.options{
  display: flex;
  flex-direction: column;
}
.options ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  gap:2rem;
}
.options ul  a{
  text-decoration: none;

}
.options ul  li{
  /* background-color:blue; */
  background-image: linear-gradient(to right, purple,pink);
  box-shadow: 0 5px 0 grey;
  color:white;
  padding :0.3rem;
  font-weight: 600;
  border-radius: 0.3rem;
}
.delete{
  /* text-decoration: none; */
  background-color: red;
}

@media(max-width:550px){
  .tasks ul{
    gap: 0.2rem;
  }
  .tasks ul li a{
    padding: 0.1rem;
    font-size: 18px;
  }
  .logout a{
    padding: 0.1rem;
    font-size: 18px;
  }
  header{
    height: 4rem;
  }
  .main{
    top: 4rem;
  }
}