@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;600&display=swap');
*{
  top: 0;
  left: 0;
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Open Sans' ,sans-serif;
}
/* body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
.header{
  position:fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 4.5rem;
  background-color: white;
  color: blue;
  padding: 1rem;
  
  box-shadow: 0 0 5px grey;
}
.val{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logout{
  text-decoration: none;
  color:whitesmoke;
  display: block;
  background-color: blue;
  font-size: 1rem;
  font-weight: 800;
  border-radius: 1rem;
  padding: 0.5rem;
}
.info{
  position: absolute;
  top: 4.5rem;
  width: 100%;
}
.view{
  /* background-image: url(https://s3.amazonaws.com/coursera-university-assets/program-assets/shared/jumbotron_bg.png); */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: 0 0 5px grey; */
}
.home-img{
  width: 90%;
  height: 300px;
}
/* controllers */
.list{
  padding: 1rem;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 10rem;
  align-items: center;
  /* box-shadow: 0 0 5px grey; */
}
.item{
  text-decoration: none;
  display: block;
  color:white;
  padding: 0.64rem;
  background-color: blue;
}