@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;600&display=swap');
*{
  top: 0;
  left: 0;
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Open Sans' ,sans-serif;
}
/* body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
.header{
  position:fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 4.5rem;
  background-color: white;
  color: blue;
  padding: 1rem;
  
  box-shadow: 0 0 5px grey;
}
.val{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logout{
  text-decoration: none;
  color:whitesmoke;
  display: block;
  background-color: blue;
  font-size: 1rem;
  font-weight: 800;
  border-radius: 1rem;
  padding: 0.5rem;
}
.info{
  position: absolute;
  top: 4.5rem;
  width: 100%;
  /* display: flex;
  flex-direction: column;
  gap: 1rem; */
}
.imagebox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.view{
  position: relative;
  width: 90%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: white;
  background-image: url(./home_image.png);
  object-fit: cover;
  padding: 0.5rem;
}
.textbox{
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  border: 2px solid white;
  text-align: center;
}

/* controllers */
.list{
  padding: 1rem;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 10rem;
  font-weight: bolder;
  align-items: center;
  /* box-shadow: 0 0 5px grey; */
}
.item{
  text-decoration: none;
  display: block;
  color:white;
  padding: 0.64rem;
  border-radius: 0.5rem;
  background-color: blue;
}
.abouttext{
  padding: 0.5rem;
}

@media(max-width:600px){
  .list{
    gap: 2rem;
  }
}